<div class="uk-margin-medium-bottom">
    <a *ngIf="production==false" (click)="loadLexical(testValue)" class="uk-button">Patch Value</a>
    <form class="form-horizontal corpusForm" [formGroup]="myForm">
        <ul uk-accordion="multiple: true">


            <li accordionSection class="uk-open uk-margin-large-bottom" [title]="'Lexical Conceptual'">
                <lexicalGeneric-form [parentGroup]="myForm" [required]="true"
                                     [name]="'lexicalConceptualResourceInfo'"></lexicalGeneric-form>


                <lexical-text-info-form [parentGroup]="myForm.controls.lexicalConceptualResourceInfo"
                                        [name]="'lexicalConceptualResourceTextInfo'"></lexical-text-info-form>
            </li>


            <li accordionSection class="uk-open uk-margin-large-bottom" [title]="'Identification'">
                <identification-info-form [parentGroup]="myForm.controls.lexicalConceptualResourceInfo"
                                          [name]="'identificationInfo'"></identification-info-form>

                <div class="form-group-divider"></div>

                <resourceCreationInfo-form [parentGroup]="myForm.controls.lexicalConceptualResourceInfo"
                                           [name]="'resourceCreationInfo'"></resourceCreationInfo-form>
            </li>

            <li accordionSection class="uk-open uk-margin-large-bottom" [title]="'Contact'">
                <contact-info-form [required]="true" [parentGroup]="myForm.controls.lexicalConceptualResourceInfo"
                                   [name]="'contactInfo'"></contact-info-form>
            </li>

            <li accordionSection class="uk-open uk-margin-large-bottom" [title]="'Version'">
                <versionInfo-form [parentGroup]="myForm.controls.lexicalConceptualResourceInfo" [name]="'versionInfo'"></versionInfo-form>
            </li>

            <li accordionSection class="uk-open uk-margin-large-bottom" [title]="'Distribution'">
                <datasetDistributionsZipInfo-form
                        [parentGroup]="myForm.controls.lexicalConceptualResourceInfo"></datasetDistributionsZipInfo-form>
            </li>

            <li accordionSection class="uk-open uk-margin-large-bottom" [title]="'Rights Info'">
                <rightsInfo-form [parentGroup]="myForm.controls.lexicalConceptualResourceInfo" [name]="'rightsInfo'"></rightsInfo-form>
            </li>

            <li accordionSection class="uk-margin-large-bottom" [title]="'Documentations'">
                <form-repeat [component]="resourceDocumentationType" [parentGroup]="myForm.controls.lexicalConceptualResourceInfo"
                             [name]="'resourceDocumentations'" [required]="false" [description]="resourceDocumentationDesc">
                </form-repeat>
            </li>

            <li accordionSection class="uk-margin-large-bottom" [title]="'Relations'">
                <form-repeat [component]="relationType" [parentGroup]="myForm.controls.lexicalConceptualResourceInfo"
                             [name]="'relations'" [required]="false" [description]="relationTypeDesc">
                </form-repeat>
            </li>
        </ul>

    </form>
</div>
<div *ngIf="production==false" class="margin-20">
    <div>myForm details:-</div>
    <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
    <pre>form value: <br>{{debugValue | json}}</pre>
</div>