<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
    <div class="uk-container">
        <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
            <div class="uk-width-1-1@m uk-first-column">

                <h1 class="uk-h2">OpenMinTeD Platform <br>
                    <span class="uk-margin-top"><strong>Terms and Conditions</strong></span>
                </h1>
                <!--<hr class="uk-divider-small">-->

                <!--<div class="uk-margin">-->
                <!--Paste the copied XML file below, or use one of the options to upload and preview the XML file-->
                <!--before you submit it.-->
                <!--</div>-->

                <!-- TOP HELP CONTENT -->
                <help-content #topHelperContent [position]="'top'"
                              [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
                </help-content>

                <div class="uk-container uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">

                        <!-- LEFT HELP CONTENT -->
                        <aside-help-content #leftHelperContent [position]="'left'"
                                            [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
                        </aside-help-content>

                        <!-- MIDDLE -->
                        <div class="uk-width-expand@m">

                            <div>
                                Version 2.0
                            </div>

                            <div>
                                Last updated: 2 May 2018
                            </div>

                            <p>
                                Please read carefully these Terms and Conditions before using the OpenMinTeD (H2020 project n. 654021)
                                platform (<a href="https://services.openminted.eu/">https://services.openminted.eu/</a>). Access to and
                                use of the Platform is conditioned on Your acceptance of and compliance with them. These Terms and
                                Conditions apply to all visitors, users and others who access or use the Service. By accessing or using
                                the Service You agree to be bound by them without limitation or qualification of any sort. OpenMinTeD
                                reserves the right to update these terms and conditions at any time without prior notice, and by accepting
                                these terms You agree to abide by the most recent version posted herein.
                            </p>

                            <ol>
                                <li class="uk-margin-bottom">
                                    <strong>Definitions and Scope</strong>
                                    <ol>
                                        <li>
                                            The OpenMinTeD (OMTD) platform, hereafter mentioned as Platform, refers to the
                                            OMTD platform that offers services and functionalities for text and data mining,
                                            allowing users (e.g. researchers, miners, etc.) to browse resources, to add their
                                            own components, tools, applications, corpora and other data, and build their own workflows.
                                        </li>
                                        <li>
                                            The aim of the Platform is to give the User access to the OMTD services online,
                                            serving as a gateway to language data, including publications, corpora tagsets,
                                            ontologies, models, etc., and to text and data mining applications.
                                        </li>
                                        <li>
                                            Users may run an application on the content they select and receive the output in a format compliant
                                            with the OTMD specifications (see <a href="https://guidelines.openminted.eu/guidelines_for_providers_of_sw_resources/how-to-make-your-components-interoperable.html">https://guidelines.openminted.eu/guidelines_for_providers_of_sw_resources/how-to-make-your-components-interoperable.html</a>) or create a workflow with registered components and compatible resources and run this workflow on selected content and again receive the output in a compatible format.
                                        </li>
                                    </ol>
                                </li>

                                <li class="uk-margin-bottom">
                                    <strong>License Grant and Right of Access</strong>
                                    <ol>
                                        <li>
                                            Within the frame of its Services, OMTD grants the User a limited, non-exclusive,
                                            non-transferable permission to use the Platform and its services.
                                        </li>
                                        <li>
                                            Registered services, tools, applications and components made available on
                                            OMTD must carry a clear indication of the license under which they are released,
                                            which should also be included in the metadata .
                                        </li>
                                        <li>
                                            The User is entitled to use the Platform solely for the purposes indicated under
                                            these Terms and Conditions.
                                        </li>
                                        <li>
                                            The User’s right to use the Platform will automatically cease in the event of
                                            a breach of any of its obligations under these Terms and Conditions.
                                        </li>
                                        <li>
                                            The User may not assign, sub-license or otherwise transfer any rights or
                                            obligations included in these Terms and Conditions to any other person or entity.
                                        </li>
                                    </ol>
                                </li>

                                <li class="uk-margin-bottom">
                                    <strong>Registration</strong>
                                    <ol>
                                        <li>
                                            Registration to use the Platform services (other than simple browsing/viewing
                                            of the inventory of resources) is mandatory. Users wishing to upload and share
                                            a component must therefore be registered. The basic information needed is:
                                            full name, email address, country, affiliation name, affiliation type (academic,
                                            commercial, individual). Depending on the User profile (academic/commercial/individual),
                                            name, affiliation, organization and occupation may be also required.
                                        </li>
                                        <li>
                                            OMTD performs a moderation for the first service. This moderation involves a
                                            series of tasks following first time registrations, including User profile confirmation.
                                        </li>
                                    </ol>
                                </li>

                                <li class="uk-margin-bottom">
                                    <strong>Content upload</strong>
                                    <ol>
                                        <li>
                                            The primary focus of OMTD is on Open Access (OA) content, as this is provided by
                                            repositories (institutional, thematic) and OA publishers (commercial or not).
                                            In addition, under specific bilateral agreements, OMTD may also accept closed
                                            access content provided by publishers or scholarly societies or other bodies,
                                            and make it available to end users for text mining purposes only.
                                        </li>
                                        <li>
                                            The User may upload their user generated content or third parties content provided
                                            that they comply with the necessary legal and technical interoperability requirements.
                                            Third party content, however, must not be cached by the system.
                                        </li>
                                        <li>
                                            Acceptance of any content retrieved from non-OA-labeled providers depends on such
                                            content being accompanied by a license agreement.
                                        </li>
                                    </ol>
                                </li>

                                <li class="uk-margin-bottom">
                                    <strong>Analysis</strong>
                                    <ol>
                                        <li>
                                            OMTD reserves the right to study, verify, test, reverse-engineer or to perform any other
                                            action deemed necessary (hereinafter "Analysis") on the applications and components
                                            contributed by the User. The scope of this Analysis is to verify the technical
                                            suitability and the absence of any potential security or stability risk in the
                                            application or component that the User contributes. The decision to accept or
                                            reject such contribution on the basis of the above considerations is at the sole
                                            discretion of OMTD and by contributing with any component or application the
                                            User agrees to and explicitly accept these terms. OMTD is under no obligation
                                            to explain why a component or application has been rejected, nevertheless when
                                            possible OMTD may offer technical feedback to the User, without creating any
                                            legal obligation whatsoever. The Analysis that OMTD may execute is for technical
                                            purpose only and should not be interpreted in any way as a limitation or waiver
                                            of the User’s responsibilities and liability in case the User is contributing
                                            malicious or harmful code, copyright infringing material or any other lawful or
                                            unlawful material that may cause any type of direct, indirect, general or specific
                                            harm or damages to OMTD and its users.
                                        </li>
                                    </ol>
                                </li>

                                <li class="uk-margin-bottom">
                                    <strong>No warranty</strong>
                                    <ol>
                                        <li>
                                            By using the Platform including any and each of its components, applications
                                            and services the User acknowledges and explicitly accepts that any software,
                                            content, component, application, workflow, service and any other element of the
                                            Platform are offered on an "as is basis" without any warranty, to the extent
                                            permitted by applicable law. This includes, but is not limited to, any expressed
                                            or implied warranty, implied warranty of merchantability and fitness for a
                                            particular purpose.
                                        </li>
                                        <li>
                                            OMTD endeavors to publish accurate information on the Platform avoiding errors
                                            or omissions in its services, although the information contained in the Platform
                                            shall be regarded "as is" without warranties of any kind, either expressed or implied.
                                        </li>
                                        <li>
                                            OMTD does not provide legal recommendation or legal advice in any way. In no
                                            circumstances, will OMTD be liable for any direct or indirect damages to the
                                            User or anyone else for any decision made or taken in reliance on the information
                                            provided by the Platform.
                                        </li>
                                        <li>
                                            OMTD may modify the Platform from time to time as it deems it necessary.
                                            OMTD is not a preservation platform and holds the right to remove services
                                            that have been inactive for more than two years. Components used in published
                                            workflows will not be removed.
                                        </li>
                                        <li>
                                            hese Terms and conditions may change or be updated from time to time without
                                            prior notice.. OMTD may, at any time, vary, add or delete any clause or section of
                                            these Terms and Conditions. By using this service you agree to accept and abide
                                            by the latest version of these terms and conditions.
                                        </li>
                                    </ol>
                                </li>

                                <li class="uk-margin-bottom">
                                    <strong>Obligations of the User</strong>
                                    <ol>
                                        <li>
                                            The User is fully responsible for all activities that occur in the Platform
                                            under the credentials provided by OMTD.
                                        </li>
                                        <li>
                                            When uploading any content the User affirms that he is the sole owner of the
                                            rights on that content or that he has received specific authorisation by the
                                            owner or co-owner of those rights.
                                        </li>
                                        <li>
                                            The User declares and confirms that OMTD has no role in the initiation, selection
                                            or modification of any uploaded material and is not liable for any unlawful content.
                                            The uploader is the sole responsible for any violation of any laws or legal
                                            rights caused by the act of uploading content.
                                        </li>
                                        <li>
                                            The User agrees to use the Platform only in a lawful manner agreeing not to
                                            cause any nuisance or inconvenience whether to OMTD or to any of its Users
                                            of the Platform by any means.
                                        </li>
                                        <li>
                                            The User agrees not to use the Platform to transmit or post any material that
                                            can be deemed fraudulent, hateful, offensive, discriminatory, defamatory or obscene.
                                        </li>
                                    </ol>
                                </li>

                                <li class="uk-margin-bottom">
                                    <strong>Obligations of OpenMinTeD</strong>
                                    <ol>
                                        <li>
                                            OMTD shall provide the User with credentials to use the Platform.
                                        </li>
                                        <li>
                                            OMTD takes all reasonable steps to safeguard the security of any information
                                            or data input by the User.
                                        </li>
                                        <li>
                                            OMTD shall use its reasonable endeavors to make the Platform available for
                                            the User. OMTD gives however no guarantee of such availability. In case of
                                            temporary unavailability OMTD will make all reasonable efforts to recover the
                                            Platform services. However, OMTD has no duty nor can be held liable under any
                                            legal provision for those situations or during the time that the platform is
                                            not available.
                                        </li>
                                        <li>
                                            OMTD reserves the right to suspend the Platform at any time at its sole discretion.
                                            Suspensions may be justified by maintenance or other objective reasons.
                                        </li>
                                        <li>
                                            OMTD does not distribute content registered by other parties. It may only
                                            distribute annotations of content and results of mining services over it.
                                        </li>
                                    </ol>
                                </li>

                                <li class="uk-margin-bottom">
                                    <strong>Liability</strong>
                                    <ol>
                                        <li>
                                            OMTD shall in no event be liable for any general, special, direct or indirect
                                            damages of any kind, including those arising from the inability to use the
                                            Platform services, including but not limited to the loss of data.
                                        </li>
                                        <li>
                                            The User explicitly accepts to bear any risk and cost associated with the
                                            quality and/or performance of Platform.
                                        </li>
                                        <li>
                                            In no event, to the extent admitted by applicable law, OMTD shall be liable
                                            to the User for damages including, but not limited to, any general, special,
                                            direct, indirect, consequential damages arising from the use or inability to
                                            use the Platform, including but not limited to any loss of data, loss of
                                            functionality or compatibility.
                                        </li>
                                        <li>
                                            The User acknowledges that the Platform is provided through the internet,
                                            over which OMTD has no control whatsoever.
                                        </li>
                                        <li>
                                            OMTD takes all reasonable measures to maintain a virus-free website, while
                                            declining any liability for any damages, including hardware damage, loss of
                                            data, alteration of data, or downtime.
                                        </li>
                                    </ol>
                                </li>

                                <li class="uk-margin-bottom">
                                    <strong>Data Protection</strong>
                                    <ol>
                                        <li>
                                            Both OMTD and the User shall use the Platform in compliance with the applicable
                                            data protection laws.
                                        </li>
                                        <li>
                                            The User shall not sell, distribute or alter any information or data retrieved
                                            from the Platform. The User shall also take appropriate measures to shield any
                                            information or data contained in the Platform from destruction, accidental loss,
                                            alteration, or unauthorized disclosure.
                                        </li>
                                    </ol>
                                </li>

                                <li class="uk-margin-bottom">
                                    <strong>Intellectual Property Rights</strong>
                                    <ol>
                                        <li>
                                            OMTD reserves all rights related to the Platform. Nothing in these Terms and
                                            Conditions grants the User a right or license to use any intellectual property
                                            rights owned by OMTD. The User acknowledges having no right whatsoever with
                                            respect to any intellectual property rights related to the Platform services.
                                        </li>
                                    </ol>
                                </li>

                                <li class="uk-margin-bottom">
                                    <strong>Severability</strong>
                                    <ol>
                                        <li>
                                            Should any section of these Terms and Conditions be invalid it shall be interpreted
                                            as it fulfills its intended purpose or replaced by a valid clause that reflects the original intents.
                                        </li>
                                        <li>
                                            If no valid replacement is possible, no effect shall be given to the invalid
                                            clause, but the remaining sections shall continue to be in force and effect.
                                        </li>
                                    </ol>
                                </li>
                            </ol>

                        </div>

                        <div class="uk-width-1-1 uk-margin-top uk-margin-large-bottom">
                            <div class="uk-card uk-card-body uk-card-primary">
                                You may also download our Terms and Conditions by clicking <a href="assets/files/OpenMinTeD_Platform_Terms_and_Conditions_v2.0.pdf" target="_blank">here</a>.
                            </div>
                        </div>

                        <!-- RIGHT HELP CONTENT -->
                        <aside-help-content #rightHelperContent [position]="'right'"
                                            [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
                        </aside-help-content>

                    </div>
                </div>


                <!-- BOTTOM HELP CONTENT -->
                <help-content #bottomHelperContent [position]="'bottom'"
                              [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
                </help-content>


            </div>
        </div>
    </div>
</div>