<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
    <div class="uk-container">
        <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
            <div class="uk-width-1-1@m uk-first-column">

                <!--<h2 class="uk-text-center uk-h2 uk-scrollspy-inview uk-animation-slide-bottom-small" uk-scrollspy-class="" style="">-->
                <h2 class="uk-h2 uk-scrollspy-inview uk-animation-slide-bottom-small" uk-scrollspy-class="" style="">
                    Want to share a new component?
                </h2>

                <!-- TOP HELP CONTENT -->
                <help-content #topHelperContent [position]="'top'"
                              [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
                </help-content>

                <div class="uk-container uk-margin-medium-top uk-margin-large-bottom">
                    <div class="uk-grid">

                        <!-- LEFT HELP CONTENT -->
                        <aside-help-content #leftHelperContent [position]="'left'"
                                            [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
                        </aside-help-content>


                        <!-- MIDDLE -->
                        <div class=" uk-width-expand@m">

                            <div class="uk-grid">

                                <div class="uk-width-1-1">
                                    <ul class="uk-subnav uk-subnav-pill"
                                        uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
                                        <li class="uk-width-1-3@m">
                                            <a href="#">
                                                <div class="uk-card uk-card-body uk-card-default uk-text-center">
                                                    <div class="uk-margin-bottom">
                                                        <img src="../../../../assets/imgs/maven-logo" width="150">
                                                    </div>
                                                    <span>
                                                        UIMA / GATE / ALVIS <br>
                                                        components
                                                    </span>
                                                    <div class="uk-margin-top">
                                                        via Maven
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="uk-width-1-3@m">
                                            <a href="#">
                                                <div class="uk-card uk-card-body uk-card-default uk-text-center">
                                                    <div class="uk-margin-bottom">
                                                        <img src="../../../../assets/imgs/docker-logo" width="70">
                                                    </div>
                                                    <span>
                                                        Dockerized <br>
                                                        components
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="uk-width-1-3@m">
                                            <a href="#">
                                                <div class="uk-card uk-card-body uk-card-default uk-text-center">
                                                    <div class="uk-margin-bottom">
                                                        <img src="../../../../assets/imgs/webService-logo.jpeg"
                                                             width="150">
                                                    </div>
                                                    <span>
                                                        Web Services
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>

                                    <ul class="uk-switcher uk-margin-large">
                                        <li>
                                            <div class="uk-grid-divider uk-margin-large uk-grid" uk-grid="">
                                                <div class="uk-width-expand@m uk-dark uk-grid-item-match uk-first-column">
                                                    <div class="uk-margin uk-text-center uk-panel uk-scrollspy-inview"
                                                         uk-scrollspy-class="" style="">
                                                        <!--<h4 class="el-title uk-margin uk-h4">-->
                                                        <!--A Researcher?    </h4>-->
                                                        <div class="el-content uk-margin">
                                                            Describe your UIMA / GATE / ALVIS component using the OMTD
                                                            editor
                                                        </div>
                                                        <p>
                                                            <a (click)="registerUsingForm()"
                                                               class="el-link uk-button uk-button-default uk-button-small actionButton">
                                                                Edit
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="uk-width-expand@m uk-dark uk-grid-item-match">
                                                    <div class="uk-margin uk-text-center uk-panel uk-scrollspy-inview"
                                                         uk-scrollspy-class="" style="">
                                                        <!--<h4 class="el-title uk-margin uk-h4">-->
                                                        <!--A Research Administrator?    </h4>-->
                                                        <div class="el-content uk-margin">
                                                            Resolve maven coordinates
                                                            <div *ngIf="mavenError" class="uk-alert uk-alert-danger">{{mavenError}}</div>
                                                        </div>
                                                        <form role="form" class="m-t mavenCoordinatesForm"
                                                              [formGroup]="mavenForm">
                                                            <div class="form-group">
                                                                <input name="artifactId" required=""
                                                                       placeholder="ArtifactId" class="form-control"
                                                                       type="text" formControlName="artifactId">
                                                            </div>
                                                            <div class="form-group">
                                                                <input name="groupId" required="" placeholder="GroupId"
                                                                       class="form-control" type="text"
                                                                       formControlName="groupId">
                                                            </div>
                                                            <div class="form-group">
                                                                <input name="version" required="" placeholder="Version"
                                                                       class="form-control" type="text"
                                                                       formControlName="version">
                                                            </div>
                                                            <a (click)="resolveMavenCoordinates()"
                                                               class="el-link uk-button uk-button-default uk-button-small actionButton">
                                                                Resolve
                                                            </a>
                                                        </form>
                                                        <!--<p><a href="/www.cnn.com" class="el-link uk-button uk-button-default uk-button-small">OpenAIRE.MONITOR</a></p>-->
                                                    </div>
                                                </div>
                                                <div class="uk-width-expand@m uk-dark uk-grid-item-match">
                                                    <div class="uk-margin uk-text-center uk-panel uk-scrollspy-inview"
                                                         uk-scrollspy-class="" style="">
                                                        <!--<h4 class="el-title uk-margin uk-h4">-->
                                                        <!--A Developer?    </h4>-->
                                                        <div class="el-content uk-margin">
                                                            Describe your UIMA / GATE / ALVIS component according to the
                                                            <a target="_blank" href="https://guidelines.openminted.eu">OMTD
                                                                schema</a>
                                                        </div>
                                                        <p>
                                                            <a (click)="registerUsingXML()"
                                                               class="el-link uk-button uk-button-default uk-button-small actionButton">
                                                                Upload
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="uk-grid-divider uk-margin-large uk-grid" uk-grid="">
                                                <div class="uk-width-expand@m uk-dark uk-grid-item-match uk-first-column">
                                                    <div class="uk-margin uk-text-center uk-panel uk-scrollspy-inview"
                                                         uk-scrollspy-class="" style="">
                                                        <!--<h4 class="el-title uk-margin uk-h4">-->
                                                        <!--A Researcher?    </h4>-->
                                                        <div class="el-content uk-margin">
                                                            Describe your docker component using the OMTD editor
                                                        </div>
                                                        <p>
                                                            <a (click)="registerUsingForm()"
                                                               class="el-link uk-button uk-button-default uk-button-small actionButton">
                                                                Edit
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="uk-width-expand@m uk-dark uk-grid-item-match">
                                                    <div class="uk-margin uk-text-center uk-panel uk-scrollspy-inview"
                                                         uk-scrollspy-class="" style="">
                                                        <!--<h4 class="el-title uk-margin uk-h4">-->
                                                        <!--A Developer?    </h4>-->
                                                        <div class="el-content uk-margin">
                                                            Describe your docker component according to the <a
                                                                target="_blank" href="https://guidelines.openminted.eu">OMTD
                                                            schema</a>
                                                        </div>
                                                        <p>
                                                            <a (click)="registerUsingXML()"
                                                               class="el-link uk-button uk-button-default uk-button-small actionButton">
                                                                Upload
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="uk-grid-divider uk-margin-large uk-grid" uk-grid="">
                                                <div class="uk-width-expand@m uk-dark uk-grid-item-match uk-first-column">
                                                    <div class="uk-margin uk-text-center uk-panel uk-scrollspy-inview"
                                                         uk-scrollspy-class="" style="">
                                                        <!--<h4 class="el-title uk-margin uk-h4">-->
                                                        <!--A Researcher?    </h4>-->
                                                        <div class="el-content uk-margin">
                                                            Describe your web service using the OMTD editor
                                                        </div>
                                                        <p>
                                                            <a (click)="registerUsingForm()"
                                                               class="el-link uk-button uk-button-default uk-button-small actionButton">
                                                                Edit
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="uk-width-expand@m uk-dark uk-grid-item-match">
                                                    <div class="uk-margin uk-text-center uk-panel uk-scrollspy-inview"
                                                         uk-scrollspy-class="" style="">
                                                        <!--<h4 class="el-title uk-margin uk-h4">-->
                                                        <!--A Developer?    </h4>-->
                                                        <div class="el-content uk-margin">
                                                            Describe your web service according to the <a
                                                                target="_blank" href="https://guidelines.openminted.eu">OMTD
                                                            schema</a>
                                                        </div>
                                                        <p>
                                                            <a (click)="registerUsingXML()"
                                                               class="el-link uk-button uk-button-default uk-button-small actionButton">
                                                                Upload
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- RIGHT HELP CONTENT -->
            <aside-help-content #rightHelperContent [position]="'right'"
                                [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
            </aside-help-content>

        </div>
    </div>


    <!-- BOTTOM HELP CONTENT -->
    <help-content #bottomHelperContent [position]="'bottom'"
                  [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
    </help-content>


</div>

