<div class="uk-margin-medium-bottom">
    <a *ngIf="production==false" (click)="loadComponent(componentPatch)">Patch Component</a>
    <form class="form-horizontal componentForm" [formGroup]="myForm">

        <ul uk-accordion="multiple: true">
            <li accordionSection class="uk-open uk-margin-large-bottom" [title]="resourceType +' details'">
                <componentGeneric-form [parentGroup]="myForm" [name]="'componentInfo'"></componentGeneric-form>
            </li>

            <li accordionSection class="uk-open uk-margin-large-bottom" [title]="'Identification'">
                <identification-info-form [parentGroup]="myForm.controls.componentInfo"
                                          [name]="'identificationInfo'"></identification-info-form>
            </li>

            <li accordionSection class="uk-open uk-margin-large-bottom" [title]="'Contact'">
                <contact-info-form [required]="true" [parentGroup]="myForm.controls.componentInfo"
                                   [name]="'contactInfo'"></contact-info-form>
            </li>

            <li accordionSection class="uk-open uk-margin-large-bottom" [title]="'Version'">
                <versionInfo-form [parentGroup]="myForm.controls.componentInfo" [name]="'versionInfo'"
                                  [data]="{update : true}"></versionInfo-form>
            </li>

            <li accordionSection class="uk-open uk-margin-large-bottom" [title]="'Distribution'" *ngIf="!galaxyButtonUrl">
                <componentDistributionInfos-form
                        [parentGroup]="myForm.controls.componentInfo"></componentDistributionInfos-form>
            </li>

            <li accordionSection class="uk-open uk-margin-large-bottom" [title]="'Rights Info'">
                <rightsInfo-form [parentGroup]="myForm.controls.componentInfo" [name]="'rightsInfo'"></rightsInfo-form>
            </li>

            <li accordionSection class="uk-margin-large-bottom" [title]="'Input'">
                <processing-resource-info-form [parentGroup]="myForm.controls.componentInfo"
                                               [name]="'inputContentResourceInfo'"></processing-resource-info-form>
            </li>

            <li accordionSection class="uk-margin-large-bottom" [title]="'Output'">
                <processing-resource-info-form [parentGroup]="myForm.controls.componentInfo"
                                               [name]="'outputResourceInfo'"></processing-resource-info-form>
            </li>

            <li accordionSection class="uk-margin-large-bottom" [title]="'Parameters'">
                <form-repeat [component]="parameterType" [parentGroup]="myForm.controls.componentInfo"
                             [name]="'parameterInfos'" [required]="false" [description]="parameterInfoDesc">
                </form-repeat>
            </li>
        </ul>
    </form>
    <form class="form-horizontal componentForm" [formGroup]="tocForm">
        <form-inline [description]="{label : '', mandatory : false, description:''}" [params]="null"
                     [valid]="tocForm.get('toc').valid">
            <input type="checkbox" formControlName="toc" class="uk-checkbox">
            I agree to the <a href="assets/files/OpenMinTeD_Terms_and_Conditions_v1.0.pdf" target="_blank">OpenMinTeD
            Terms and Conditions</a>
        </form-inline>
    </form>
</div>
<div *ngIf="production==false" class="margin-20">
    <div>myForm details:-</div>
    <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
    <pre>form value: <br>{{debugValue | json}}</pre>
</div>