<div my-resource-wrapper="My Operations">
    <div *ngIf="errorMessage" class="uk-alert uk-alert-danger uk-margin-medium-top">{{errorMessage}}</div>

    <div *ngIf="searchResults && !errorMessage">

        <div *ngIf="successMessage" class="uk-alert uk-alert-success uk-margin-medium-top">
            {{successMessage}}
        </div>

        <div *ngIf="searchResults.total==0" class="uk-alert uk-alert-warning uk-margin-medium-top">
            There are no operations registered under your account
        </div>

        <div *ngIf="searchResults.total>0">

            <div class="uk-width-1-1 uk-row-first" paginate
                 [from]="searchResults.from" [total]="searchResults.total">
            </div>

            <div class="uk-grid-margin">

                <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
                    <div class="uk-width-1-1@m uk-first-column">
                        <div class="uk-overflow-auto uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="" style="">
                            <table class="uk-table uk-table-striped uk-table-middle">
                                <thead>
                                <tr>
                                    <th class="">Input</th>
                                    <th class="">Application</th>
                                    <th class="">Output</th>
                                    <th class="">Date</th>
                                    <th class="">Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let myOperation of searchResults.results" class="el-item">
                                    <td [display-resource]="myOperation.resources[myOperation.operation.corpus.input]">
                                    </td>
                                    <td [display-resource]="myOperation.resources[myOperation.operation.component]">
                                    </td>
                                    <td [display-resource]="myOperation.resources[myOperation.operation.corpus.output]">
                                    </td>
                                    <td class="">
                                        <div class="el-title" *ngIf="myOperation?.operation?.date?.submitted">
                                            {{myOperation.operation.date.submitted | date:'shortDate'}}
                                        </div>
                                        <div class="el-title" *ngIf="!myOperation?.operation?.date?.submitted">
                                            not available
                                        </div>
                                    </td>
                                    <td class="">
                                        <div class="el-title" [ngSwitch]="myOperation?.operation?.status">
                                            <strong *ngSwitchCase="'RUNNING'">Running</strong>
                                            <ng-container *ngSwitchCase="'FINISHED'">
                                                <span><strong>Finished</strong></span>
                                                <br>
                                                <span style="text-align: justify;">
                                                    in {{(myOperation.operation.date.finished - myOperation.operation.date.started)/ (1000 * 60) | number}} minutes
                                                </span>
                                            </ng-container>
                                            <strong *ngSwitchCase="'PENDING'">Pending</strong>
                                            <ng-container *ngSwitchCase="'FAILED'">
                                                <span><strong>Failed</strong></span>
                                                <br>
                                                <span style="text-align: justify;">{{myOperation.operation.errors[0].message}}</span>
                                            </ng-container>
                                            <strong *ngSwitchDefault>not available</strong>
                                        </div>
                                    </td>

                                    <td class="uk-text-nowrap">
                                        <div class="el-title">
                                            <!--<a (click)="pause(operation)" class=""><i class="fa fa-pause uk-margin-small-right" aria-hidden="true"></i></a>-->
                                            <!--<a (click)="stop(operation)"><i class="fa fa-stop uk-margin-small-right" aria-hidden="true"></i></a>-->
                                            <!--<a (click)="start(operation)" class=""><i class="fa fa-play uk-margin-small-right" aria-hidden="true"></i></a>-->
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="uk-width-1-1 uk-row-first uk-margin-large-bottom uk-margin-top"
                 paginate [from]="searchResults.from" [total]="searchResults.total">
            </div>

        </div>

    </div>

</div>