<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
    <div class="uk-container">
        <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
            <div class="uk-width-1-1@m uk-first-column">

                <h1 class="uk-h2">License Compatibility Matrix</h1>

                <!-- TOP HELP CONTENT -->
                <help-content #topHelperContent [position]="'top'"
                              [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
                </help-content>

                <div class="uk-container uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">

                        <!-- LEFT HELP CONTENT -->
                        <aside-help-content #leftHelperContent [position]="'left'"
                                            [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
                        </aside-help-content>

                        <!-- MIDDLE -->
                        <div class="uk-width-expand@m compatibilityWizard">

                            <p>
                                The OpenMinTeD License Compatibility Matrix and Tool aim to help users understand whether they can combine together works,
                                software and services available under different licenses or terms of use and determine what they can do with the outcome
                                of their combination. By selecting two licences you will otain a result in the form of: YES, YES (under conditions) and NO.
                                Under "more details" you have access to the legal analysis employed for the compatibility calculation.
                            </p>

                            <p>
                                However, it should be borne in mind that the combination of resources for TDM does not alway lead to the creation of a
                                derivative work (which is normally the condition for a licence, especially an OA/FLOSS licence, to be persistent) and in
                                these cases there should be no restriction under copyright law to the possibility to combine them, (but you should ensure
                                that your use of the resources is lawful, which is normally the case if you use Open Access/FLOSS licences or your use is
                                covered by an exception or limitation to copyright). There are many cases where the difference is not clear cut and the
                                specificities of applicable law, of the specific type of TDM alghorithms employed as well as the specific terminology employed
                                by the licenses can become decisive. For an example of when training a ML modle for NPL purposes creates a derivative work
                                and when it does not, OpenMinTeD has produced this study which you may find useful (but it is a research study not legal advice,
                                it is for research and general information purposes only): Link1 and Link2
                            </p>

                            <div class="disclaimer">
                                <h5>Disclaimer</h5>
                                <p>
                                    This information is provided AS IS and it is intended for general informatory purposes only. Whereas OpenMinTeD
                                    endeavours to maintain these information and tools, they do not come with any implicit or explicit guarantee or
                                    expectation to be correct, applicable to your case, accurate, or up to date. This information and tools are the
                                    result of a research project and ARE NOT, cannot and should not be taken as legal advice. You should seek specific
                                    legal advice for your projects or own use and avoid to rely on the information or tools here contained.
                                </p>
                            </div>

                            <div class="uk-margin-bottom">
                                <h4>1. Select type of License</h4>
                                <div class="uk-margin uk-grid typeSelection">
                                    <div class="uk-width-expand@m uk-width-1-3@s uk-grid-item-match uk-first-column">
                                        <div class="uk-text-center uk-card uk-card-white-shadow uk-card-hover uk-scrollspy-inview uk-animation-slide-top-medium" data-id="" style="" uk-scrollspy-class="">
                                            <a class="uk-position-cover uk-margin-remove-adjacent" (click)="selectLicenseType('contents')"></a>
                                            <div class="uk-card-media-top">
                                                <img alt="" src="../../../../assets/imgs/Icons_OpenMinted_Content_wide_70opacity_purple.png" style="width:100%;">
                                            </div>
                                            <div class="uk-card-body">
                                                <h3 class="el-title uk-margin uk-card-title uk-margin-remove-adjacent uk-margin-small-bottom">
                                                    Licenses for content
                                                </h3>
                                                <div *ngIf="selectedType=='contents'" class="el-meta uk-margin uk-text-meta" style="z-index:9999; position:relative;">
                                                    <i class="fa fa-check uk-margin-right" aria-hidden="true"></i> (Selected)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-expand@m uk-width-1-3@s uk-grid-item-match uk-first-column">
                                        <div class="uk-text-center uk-card uk-card-white-shadow uk-card-hover uk-scrollspy-inview uk-animation-slide-top-medium" data-id="" style="" uk-scrollspy-class="">
                                            <a class="el-link uk-position-cover uk-margin-remove-adjacent" (click)="selectLicenseType('software')"></a>
                                            <div class="uk-card-media-top">
                                                <img alt="" class="el-image" src="../../../../assets/imgs/Icons_OpenMinted_Software_wide_70opacity.png" style="width:100%;">
                                            </div>
                                            <div class="uk-card-body">
                                                <h3 class="el-title uk-margin uk-card-title uk-margin-remove-adjacent uk-margin-small-bottom">
                                                    Licenses for software
                                                </h3>
                                                <div *ngIf="selectedType=='software'" class="el-meta uk-margin uk-text-meta" style="z-index:9999; position:relative;">
                                                    <i class="fa fa-check uk-margin-right" aria-hidden="true"></i> (Selected)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-expand@m uk-width-1-3@s uk-grid-item-match uk-first-column">
                                        <div class="uk-text-center uk-card uk-card-white-shadow uk-card-hover uk-scrollspy-inview uk-animation-slide-top-medium" data-id="" style="" uk-scrollspy-class="">
                                            <a class="el-link uk-position-cover uk-margin-remove-adjacent" (click)="selectLicenseType('services')"></a>
                                            <div class="uk-card-media-top">
                                                <img alt="" class="el-image" src="../../../../assets/imgs/Icons_OpenMinted_Services2_wide_70opacity.png" style="width:100%;">
                                            </div>
                                            <div class="uk-card-body">
                                                <h3 class="el-title uk-margin uk-card-title uk-margin-remove-adjacent uk-margin-small-bottom">
                                                    Licenses for services
                                                </h3>
                                                <div *ngIf="selectedType=='services'" class="el-meta uk-margin uk-text-meta" style="z-index:9999; position:relative;">
                                                    <i class="fa fa-check uk-margin-right" aria-hidden="true"></i> (Selected)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="uk-margin-bottom">
                                <h4>2. Select the 2 licenses that you want to combine</h4>

                                <div class="uk-margin-bottom">
                                    <select #license1 (change)="selectLicense1(license1.value)">
                                        <option value="" selected>-- select 1st license --</option>
                                        <option *ngFor="let license of licenses | categoryFilter: selectedType" value="{{license.id}}">{{license.name}}</option>
                                    </select>
                                </div>


                                <div>
                                    <select #license2 (change)="selectLicense2(license2.value)">
                                        <option value="" selected>-- select 2nd license --</option>
                                        <option *ngFor="let license of licenses | categoryFilter: selectedType" value="{{license.id}}">{{license.name}}</option>
                                    </select>
                                </div>

                            </div>

                            <div class="uk-margin-large-bottom">
                                <h4>3. Compatibility results</h4>

                                <div *ngIf="!compatibilityResults">
                                    You must first select the 2 licenses that you want to see the compatibility of
                                </div>

                                <div *ngIf="compatibilityResults">

                                    <div *ngIf="compatibilityResults.compatible=='Yes'" class="uk-alert uk-alert-success">
                                        Compatibility: {{compatibilityResults.compatible}}
                                    </div>

                                    <div *ngIf="compatibilityResults.compatible=='Yes (Under Conditions)'" class="uk-alert uk-alert-warning">
                                        Compatibility: {{compatibilityResults.compatible}}
                                    </div>

                                    <div *ngIf="compatibilityResults.compatible=='No'" class="uk-alert uk-alert-danger">
                                        Compatibility: {{compatibilityResults.compatible}}
                                    </div>

                                    <div>
                                        <a href="{{compatibilityResults.url}}" target="_blank">Click here to view more details!</a>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <!-- RIGHT HELP CONTENT -->
                        <aside-help-content #rightHelperContent [position]="'right'"
                                            [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
                        </aside-help-content>

                    </div>
                </div>


                <!-- BOTTOM HELP CONTENT -->
                <help-content #bottomHelperContent [position]="'bottom'"
                              [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
                </help-content>


            </div>
        </div>
    </div>
</div>