.disclaimer {
    font-size: 80%;
    font-style: italic;
}

.disclaimer h5 {
    margin-bottom: 10px;
}

* + p {
    margin-top: 10px;
}

.compatibilityWizard h4 {
    color: #0055b9;
}

.uk-card-white-shadow {
    box-shadow: 0 6px 50px rgba(0,0,0,0.05);
    background: #fff;
    color: #767779;
}

.uk-card-white-shadow.uk-card-hover:hover {
    background-color: #fff;
    box-shadow: 0 4px 28px rgba(0,0,0,0.2);
}

.uk-card-hover:not(.uk-card-default):not(.uk-card-primary):not(.uk-card-secondary):hover {
    background: #fff;
}

.uk-card-title {
    font-size: 20px;
}

.uk-text-meta {
    color: #008000;
}