<div class="uk-margin-medium-bottom">
    <a *ngIf="production==false" (click)="loadLanguage(testValue)" class="uk-button">Patch Value</a>
    <form class="form-horizontal corpusForm" [formGroup]="myForm">
        <ul uk-accordion="multiple: true">


            <li accordionSection class="uk-open uk-margin-large-bottom" [title]="'Language Conceptual'">
                <languageGeneric-form [parentGroup]="myForm" [required]="true"
                                     [name]="'languageDescriptionInfo'"></languageGeneric-form>


                <lexical-text-info-form [parentGroup]="myForm.controls.languageDescriptionInfo"
                                        [name]="'languageDescriptionTextInfo'"></lexical-text-info-form>
            </li>

            <li accordionSection class="uk-open uk-margin-large-bottom" [title]="'Model Operation'">
                <model-operation-info-form [parentGroup]="myForm.controls.languageDescriptionInfo" [name]="'modelOperationInfo'">
                </model-operation-info-form>
            </li>


            <li accordionSection class="uk-open uk-margin-large-bottom" [title]="'Identification'">
                <identification-info-form [parentGroup]="myForm.controls.languageDescriptionInfo"
                                          [name]="'identificationInfo'"></identification-info-form>

                <div class="form-group-divider"></div>

                <resourceCreationInfo-form [parentGroup]="myForm.controls.languageDescriptionInfo"
                                           [name]="'resourceCreationInfo'"></resourceCreationInfo-form>
            </li>

            <li accordionSection class="uk-open uk-margin-large-bottom" [title]="'Contact'">
                <contact-info-form [required]="true" [parentGroup]="myForm.controls.languageDescriptionInfo"
                                   [name]="'contactInfo'"></contact-info-form>
            </li>

            <li accordionSection class="uk-open uk-margin-large-bottom" [title]="'Version'">
                <versionInfo-form [parentGroup]="myForm.controls.languageDescriptionInfo" [name]="'versionInfo'"></versionInfo-form>
            </li>

            <li accordionSection class="uk-open uk-margin-large-bottom" [title]="'Distribution'">
                <datasetDistributionsZipInfo-form
                        [parentGroup]="myForm.controls.languageDescriptionInfo"></datasetDistributionsZipInfo-form>
            </li>

            <li accordionSection class="uk-open uk-margin-large-bottom" [title]="'Rights Info'">
                <rightsInfo-form [parentGroup]="myForm.controls.languageDescriptionInfo" [name]="'rightsInfo'"></rightsInfo-form>
            </li>

            <li accordionSection class="uk-margin-large-bottom" [title]="'Documentations'">
                <form-repeat [component]="resourceDocumentationType" [parentGroup]="myForm.controls.languageDescriptionInfo"
                             [name]="'resourceDocumentations'" [required]="false" [description]="resourceDocumentationDesc">
                </form-repeat>
            </li>

            <li accordionSection class="uk-margin-large-bottom" [title]="'Relations'">
                <form-repeat [component]="relationType" [parentGroup]="myForm.controls.languageDescriptionInfo"
                             [name]="'relations'" [required]="false" [description]="relationTypeDesc">
                </form-repeat>
            </li>
        </ul>

    </form>
    <form class="form-horizontal componentForm" [formGroup]="tocForm">
        <form-inline [description]="{label : '', mandatory : false, description:''}" [params]="null"
                     [valid]="tocForm.get('toc').valid">
            <input type="checkbox" formControlName="toc" class="uk-checkbox">
            I agree to the <a href="assets/files/OpenMinTeD_Terms_and_Conditions_v1.0.pdf" target="_blank">OpenMinTeD
            Terms and Conditions</a>
        </form-inline>
    </form>
</div>
<div *ngIf="production==false" class="margin-20">
    <div>myForm details:-</div>
    <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
    <pre>form value: <br>{{debugValue | json}}</pre>
</div>