.uk-card-body {
    padding: 30px 40px;
    /*height: 190px;*/
}

.uk-subnav-pill > .uk-active > a, .nav-pills > .active > a {
    background-color: transparent;
    color: #0055b9;
    border-color: #0055b9;
}

.actionButton {
    width: 150px;
}