.resultsPageLabel {
    margin-top: -40px;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;
    color: #9f9b9b;
    text-transform: uppercase;
}

.whiteFilm {
    background: #ffffff none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 5;
}