<!--<dl class="uk-description-list">-->
    <!--<ng-template [ngIf]="annotationInfo.annotationTypes && annotationInfo.annotationTypes.length>0">-->
        <!--<dt>Annotation types</dt>-->
        <!--<dd>-->
            <!--<span *ngFor="let annotationType of annotationInfo.annotationTypes; let isLast = last;">-->
                <!--<span *ngIf="annotationType.annotationType">-->
                    <!--{{annotationTypeType(annotationType.annotationType)}}-->
                <!--</span>-->
                <!--{{isLast ? '' : ', '}}-->
            <!--</span>-->
        <!--</dd>-->
    <!--</ng-template>-->

    <!--<ng-template [ngIf]="annotationInfo.typesystem">-->
        <!--<dt>Typesystem</dt>-->
        <!--<dd>-->
            <!--<span *ngIf="annotationInfo.typesystem.resourceNames && annotationInfo.typesystem.resourceNames.length>0">-->
                <!--{{annotationInfo.typesystem.resourceNames[0].value}}-->
            <!--</span>-->
        <!--</dd>-->
    <!--</ng-template>-->

    <!--<ng-template [ngIf]="annotationInfo.annotationSchema">-->
        <!--<dt>Annotation Schema</dt>-->
        <!--<dd>-->
            <!--<span *ngIf="annotationInfo.annotationSchema.resourceNames && annotationInfo.annotationSchema.resourceNames.length>0">-->
                <!--{{annotationInfo.annotationSchema.resourceNames[0].value}}-->
            <!--</span>-->
        <!--</dd>-->
    <!--</ng-template>-->

    <!--<ng-template [ngIf]="annotationInfo.annotationResource">-->
        <!--<dt>Annotation Schema</dt>-->
        <!--<dd>-->
            <!--<span *ngIf="annotationInfo.annotationResource.resourceNames && annotationInfo.annotationResource.resourceNames.length>0">-->
                <!--{{annotationInfo.annotationResource.resourceNames[0].value}}-->
            <!--</span>-->
        <!--</dd>-->
    <!--</ng-template>-->

    <!--<ng-template [ngIf]="annotationInfo.isAnnotatedBy && annotationInfo.isAnnotatedBy.length>0">-->
        <!--<dt>Is annotated by</dt>-->
        <!--<dd>-->
            <!--<span *ngFor="let isAnnotatedBySingle of annotationInfo.isAnnotatedBy; let isLast = last;">-->
                <!--<span *ngIf="isAnnotatedBySingle.resourceNames && isAnnotatedBySingle.resourceNames.length>0">-->
                    <!--{{isAnnotatedBySingle.resourceNames[0].value}}-->
                <!--</span>-->
                <!--{{isLast ? '' : ', '}}-->
            <!--</span>-->
        <!--</dd>-->
    <!--</ng-template>-->
<!--</dl>-->


<div class="uk-list">

    <div *ngIf="annotationInfo.annotationTypes && annotationInfo.annotationTypes.length>0">
        <strong>Annotation types</strong><br>
        <span *ngFor="let annotationType of annotationInfo.annotationTypes; let isLast = last;">
            <span *ngIf="annotationType.annotationType">
                {{annotationTypeType(annotationType.annotationType)}}
            </span>
            {{isLast ? '' : ', '}}
        </span>
    </div>

    <div *ngIf="annotationInfo.typesystem" class="uk-margin-top">
        <strong>Typesystem</strong><br>
        <span *ngIf="annotationInfo.typesystem.resourceNames && annotationInfo.typesystem.resourceNames.length>0">
            {{annotationInfo.typesystem.resourceNames[0].value}}
        </span>
    </div>

    <div *ngIf="annotationInfo.annotationSchema" class="uk-margin-top">
        <strong>Annotation Schema</strong><br>
        <span *ngIf="annotationInfo.annotationSchema.resourceNames && annotationInfo.annotationSchema.resourceNames.length>0">
            {{annotationInfo.annotationSchema.resourceNames[0].value}}
        </span>
    </div>

    <div *ngIf="annotationInfo.annotationResource" class="uk-margin-top">
        <strong>Annotation resource</strong><br>
        <span *ngIf="annotationInfo.annotationResource.resourceNames && annotationInfo.annotationResource.resourceNames.length>0">
            {{annotationInfo.annotationResource.resourceNames[0].value}}
        </span>
    </div>

    <div *ngIf="annotationInfo.isAnnotatedBy && annotationInfo.isAnnotatedBy.length>0" class="uk-margin-top">
        <strong>Is annotated by</strong><br>
        <span *ngFor="let isAnnotatedBySingle of annotationInfo.isAnnotatedBy; let isLast = last;">
            <span *ngIf="isAnnotatedBySingle.resourceNames && isAnnotatedBySingle.resourceNames.length>0">
                {{isAnnotatedBySingle.resourceNames[0].value}}
            </span>
            {{isLast ? '' : ', '}}
        </span>
    </div>
</div>

