<div class="tags">
    <span *ngIf="componentCreationInfo.framework" class="uk-label uk-label-primary">
        {{framework(componentCreationInfo.framework)}}
    </span>
    <span *ngIf="componentCreationInfo.tdmmethod" class="uk-label uk-label-primary">
        {{tdmMethodType(componentCreationInfo.tdmmethod)}}
    </span>
    <span *ngIf="componentCreationInfo.implementationLanguage" class="uk-label uk-label-primary">
        {{componentCreationInfo.implementationLanguage}}
    </span>
</div>