<div>
    <div *ngIf="componentDependencies.typesystem">
        <strong>Typesystem: </strong>
        <span *ngIf="componentDependencies.typesystem.resourceNames && componentDependencies.typesystem.resourceNames.length>0">
            {{componentDependencies.typesystem.resourceNames[0].value}}
        </span>
    </div>
    <div *ngIf="componentDependencies.annotationSchema">
        <strong>Annotation schema: </strong>
        <span *ngIf="componentDependencies.annotationSchema.resourceNames && componentDependencies.annotationSchema.resourceNames.length>0">
            {{componentDependencies.annotationSchema.resourceNames[0].value}}
        </span>
    </div>
    <div *ngIf="componentDependencies.annotationResources && componentDependencies.annotationResources.length>0">
        <strong>Annotation resources: </strong>
        <span *ngFor="let annotationResource of componentDependencies.annotationResources; let isLast = last;">
            <span *ngIf="annotationResource.resourceNames && annotationResource.resourceNames.length>0">
                {{annotationResource.resourceNames[0].value}}
            </span>
            {{isLast ? '' : ', '}}
        </span>
    </div>
    <div *ngIf="componentDependencies.mlModel">
        <strong>ML model: </strong>
        <span *ngIf="componentDependencies.mlModel.resourceNames && componentDependencies.mlModel.resourceNames.length>0">
            {{componentDependencies.mlModel.resourceNames[0].value}}
        </span>
    </div>
</div>