<div class="tags">
    <ng-template ngFor let-componentDistributionInfo [ngForOf]="componentDistributionInfos">
        <span *ngIf="componentDistributionInfo.componentDistributionForm" class="uk-label uk-label-primary">
            {{componentDistributionForm(componentDistributionInfo.componentDistributionForm)}}
        </span>
        <span *ngIf="componentDistributionInfo.webServiceType" class="uk-label uk-label-primary">
            {{webServiceType(componentDistributionInfo.webServiceType)}}
        </span>
        <ng-template [ngIf]="componentDistributionInfo.operatingSystems && componentDistributionInfo.operatingSystems.length>0">
            <span *ngFor="let os of componentDistributionInfo.operatingSystems" class="uk-label uk-label-primary">
                {{operatingSystem(os)}}
            </span>
        </ng-template>
    </ng-template>
</div>