<h4>Contact</h4>
<ul class="uk-list">
    <li *ngIf="contactInfo.contactType">
        <a *ngIf="contactInfo.contactType=='LANDING_PAGE' && contactInfo.contactPoint" target="_blank"
           href="{{contactInfo.contactPoint}}">About us <i class="fa fa-external-link" style="margin-left: 5px" aria-hidden="true"></i></a>
        <a *ngIf="contactInfo.contactType=='CONTACT_EMAIL' && contactInfo.contactPoint"
           href="mailto:{{contactInfo.contactPoint}}">Email us</a>
    </li>
    <ng-template [ngIf]="contactInfo.contactPersons && contactInfo.contactPersons.length>0">
        <li *ngFor="let contactPerson of contactInfo.contactPersons">
            <div class="uk-margin-top">
                <person-info [personInfo]="contactPerson"></person-info>
            </div>
        </li>
    </ng-template>
    <ng-template [ngIf]="contactInfo.contactGroups && contactInfo.contactGroups.length>0">
        <li *ngFor="let contactGroup of contactInfo.contactGroups">
            <div class="uk-margin-top">
                <group-info [groupInfo]="contactGroup"></group-info>
            </div>
        </li>
    </ng-template>
    <!--TODO mailing lists!!! (modal)-->
</ul>