<div>
    <div *ngIf="processingResourceInfo.processingResourceType">
        <strong>Resource type: </strong>
        {{processingResourceType(processingResourceInfo.processingResourceType)}}
    </div>
    <div *ngIf="processingResourceInfo.dataFormats && processingResourceInfo.dataFormats.length>0">
        <strong>Data formats: </strong>
        <span *ngFor="let dataFormat of processingResourceInfo.dataFormats; let isLast = last;">
            <span *ngIf="dataFormat.dataFormat">{{dataFormatType(dataFormat.dataFormat)}}</span>
            <span *ngIf="dataFormat.dataFormatOther">, {{dataFormat.dataFormatOther}}</span>

        {{isLast ? '' : ', '}}
        </span>
    </div>
    <!--<div *ngIf="processingResourceInfo.characterEncodings && processingResourceInfo.characterEncodings.length>0">-->
        <!--<strong>Character encodings: </strong>-->
        <!--<span *ngFor="let characterEncoding of processingResourceInfo.characterEncodings; let isLast = last;">-->
            <!--{{characterEncoding}}{{isLast ? '' : ', '}}-->
        <!--</span>-->
    <!--</div>-->
    <div *ngIf="processingResourceInfo.languages && processingResourceInfo.languages.length>0">
        <strong>Language(s): </strong>
        <span>{{languages}}</span>
    </div>
    <div *ngIf="processingResourceInfo.annotationTypes && processingResourceInfo.annotationTypes.length>0">
        <strong>Annotation types: </strong>
        <span *ngFor="let annotationType of processingResourceInfo.annotationTypes; let isLast = last;">
            <span *ngIf="annotationType.annotationType">{{annotationTypeType(annotationType.annotationType)}}</span>
            <span *ngIf="annotationType.annotationTypeOther">, {{annotationType.annotationTypeOther}}</span>

        {{isLast ? '' : ', '}}
        </span>
    </div>
    <div *ngIf="processingResourceInfo.typesystem && processingResourceInfo.typesystem.resourceNames
        && processingResourceInfo.typesystem.resourceNames.length>0">
        <strong>Typesystem: </strong>
        {{processingResourceInfo.typesystem.resourceNames[0].value}}
    </div>
    <div *ngIf="processingResourceInfo.annotationSchema && processingResourceInfo.annotationSchema.resourceNames
        && processingResourceInfo.annotationSchema.resourceNames.length>0">
        <strong>Annotation schema: </strong>
        {{processingResourceInfo.annotationSchema.resourceNames[0].value}}
    </div>
    <div *ngIf="processingResourceInfo.annotationResource && processingResourceInfo.annotationResource.resourceNames
        && processingResourceInfo.annotationResource.resourceNames.length>0">
        <strong>Annotation resource: </strong>
        {{processingResourceInfo.annotationResource.resourceNames[0].value}}
    </div>
</div>