<div>
    <span *ngIf="resourceCreationInfo.creationDate">
        <ng-template [ngIf]="resourceCreationInfo.creationDate.date">
            <ng-template [ngIf]="resourceCreationInfo.creationDate.date.day">
                {{resourceCreationInfo.creationDate.date.day}}/
            </ng-template>
            <ng-template [ngIf]="resourceCreationInfo.creationDate.date.month">
                {{resourceCreationInfo.creationDate.date.month}}/
            </ng-template>
            <ng-template [ngIf]="resourceCreationInfo.creationDate.date.year">
                {{resourceCreationInfo.creationDate.date.year}}
            </ng-template>
        </ng-template>
        <ng-template [ngIf]="resourceCreationInfo.creationDate.dateRange">
            <ng-template [ngIf]="resourceCreationInfo.creationDate.dateRange.startDate">
                <ng-template [ngIf]="resourceCreationInfo.creationDate.dateRange.startDate.day">
                    {{resourceCreationInfo.creationDate.dateRange.startDate.day}}/
                </ng-template>
                <ng-template [ngIf]="resourceCreationInfo.creationDate.dateRange.startDate.month">
                    {{resourceCreationInfo.creationDate.dateRange.startDate.month}}/
                </ng-template>
                <ng-template [ngIf]="resourceCreationInfo.creationDate.dateRange.startDate.year">
                    {{resourceCreationInfo.creationDate.dateRange.startDate.year}}
                </ng-template>
            </ng-template>
            -
            <ng-template [ngIf]="resourceCreationInfo.creationDate.dateRange.endDate">
                <ng-template [ngIf]="resourceCreationInfo.creationDate.dateRange.endDate.day">
                    {{resourceCreationInfo.creationDate.dateRange.endDate.day}}/
                </ng-template>
                <ng-template [ngIf]="resourceCreationInfo.creationDate.dateRange.endDate.month">
                    {{resourceCreationInfo.creationDate.dateRange.endDate.month}}/
                </ng-template>
                <ng-template [ngIf]="resourceCreationInfo.creationDate.dateRange.endDate.year">
                    {{resourceCreationInfo.creationDate.dateRange.endDate.year}}
                </ng-template>
            </ng-template>
        </ng-template>

    </span>

    <ng-template [ngIf]="resourceCreationInfo.resourceCreators && resourceCreationInfo.resourceCreators.length > 0">

        <span> by </span>

        <span *ngFor="let resourceCreator of resourceCreationInfo.resourceCreators; let isLast = last;">
            <ng-template [ngIf]="resourceCreator.actorType=='PERSON' && resourceCreator.relatedPerson" class="uk-margin-top">
                <ng-template [ngIf]="resourceCreator.relatedPerson.givenName || resourceCreator.relatedPerson.surname">
                    <span *ngIf="resourceCreator.relatedPerson.givenName">{{resourceCreator.relatedPerson.givenName}} </span>
                    <span *ngIf="resourceCreator.relatedPerson.surname">{{resourceCreator.relatedPerson.surname}}</span>
                </ng-template>
            </ng-template>
            <ng-template [ngIf]="resourceCreator.actorType=='GROUP' && resourceCreator.relatedGroup" class="uk-margin-top">
                <span *ngIf="resourceCreator.relatedGroup.groupNames && resourceCreator.relatedGroup.groupNames.length>0">
                    {{resourceCreator.relatedGroup.groupNames[0].value}}
                </span>
            </ng-template>
            <ng-template [ngIf]="resourceCreator.actorType=='ORGANIZATION' && resourceCreator.relatedOrganization" class="uk-margin-top">
                <span *ngIf="resourceCreator.relatedOrganization.organizationNames && resourceCreator.relatedOrganization.organizationNames.length>0">
                    {{resourceCreator.relatedOrganization.organizationNames[0].value}}
                </span>
            </ng-template>
            {{isLast ? '' : ', '}}
        </span>
    </ng-template>
</div>
