<!--<h4 class="uk-margin-top-remove">Resource Documentation Info </h4>-->
<div class="resourceDocumentationInfo">
    <div *ngIf="resourceDocumentationInfo.documentationType || resourceDocumentationInfo.documentationDescription">
        <span *ngIf="resourceDocumentationInfo.documentationType">
            {{documentationType(resourceDocumentationInfo.documentationType)}} -
        </span>
        <span *ngIf="resourceDocumentationInfo.documentationDescription">
            {{resourceDocumentationInfo.documentationDescription}}
        </span>
    </div>

    <div *ngIf="resourceDocumentationInfo.publicationIdentifiers && resourceDocumentationInfo.publicationIdentifiers.length>0"
         class="uk-margin-top">
        <div *ngFor="let publicationIdentifier of resourceDocumentationInfo.publicationIdentifiers">
            <span *ngIf="publicationIdentifier.publicationIdentifierSchemeName=='URL' || publicationIdentifier.publicationIdentifierSchemeName=='PURL'
            || publicationIdentifier.publicationIdentifierSchemeName=='HANDLE'">
                {{publicationIdentifier.publicationIdentifierSchemeName}}: <a href="{{publicationIdentifier.value}}" target="_blank">{{publicationIdentifier.value}}</a>
            </span>
            <span *ngIf="publicationIdentifier.publicationIdentifierSchemeName!='URL' && publicationIdentifier.publicationIdentifierSchemeName!='PURL'
            && publicationIdentifier.publicationIdentifierSchemeName!='HANDLE'">
                {{publicationIdentifier.publicationIdentifierSchemeName}}: {{publicationIdentifier.value}}
            </span>
        </div>
    </div>
</div>