<!--<h4 class="uk-margin-top-remove">Resource Documentation Info </h4>-->
<div class="resourceDocumentationInfo">
    <div *ngIf="resourceDocumentationInfo.documentationType || resourceDocumentationInfo.documentationDescription">
        <span *ngIf="resourceDocumentationInfo.documentationType">
            {{documentationType(resourceDocumentationInfo.documentationType)}} -
        </span>
        <span *ngIf="resourceDocumentationInfo.documentationDescription">
            {{resourceDocumentationInfo.documentationDescription}}
        </span>
    </div>

    <!--TODO add publicationIdentifiers-->
</div>