<h4>Rights</h4>
<ul class="uk-list">
    <li *ngIf="rightsInfo.licenceInfos && rightsInfo.licenceInfos.length>0" class="rightsInfo">
        <license-info *ngFor="let licenseInfo of rightsInfo.licenceInfos" [licenseInfo]="licenseInfo"></license-info>
    </li>
    <li *ngIf="rightsInfo.rightsStatement" class="uk-margin-top">
        {{rightsStatement(rightsInfo.rightsStatement)}}
    </li>
    <li *ngIf="rightsInfo.copyrightStatement" class="uk-margin-top">
        <i><i class="fa fa-copyright" aria-hidden="true"></i> {{rightsInfo.copyrightStatement}}</i>
    </li>
</ul>