<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
    <div class="uk-container">
        <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
            <div class="uk-width-1-1@m uk-first-column">

                <h1 class="uk-h2">My Corpora</h1>
                <hr class="uk-divider-small">

                <!-- TOP HELP CONTENT -->
                <help-content #topHelperContent [position]="'top'"
                              [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
                </help-content>

                <div class="uk-container uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">

                        <!-- LEFT HELP CONTENT -->
                        <aside-help-content #leftHelperContent [position]="'left'"
                                            [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
                        </aside-help-content>


                        <!-- MIDDLE -->
                        <div class=" uk-width-expand@m">

                            <div *ngIf="errorMessage" class="uk-alert uk-alert-danger uk-margin-medium-top">{{errorMessage}}</div>

                            <div *ngIf="searchResults && !errorMessage">

                                <h4 class="uk-h4">Corpora registered</h4>

                                <div *ngIf="successMessage" class="uk-alert uk-alert-success uk-margin-medium-top">
                                    {{successMessage}}
                                </div>

                                <div *ngIf="searchResults.total==0" class="uk-alert uk-alert-warning uk-margin-medium-top">
                                    There are no corpora registered under your account
                                </div>

                                <div *ngIf="searchResults.total>0">

                                    <div class="uk-grid-margin">

                                        <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
                                            <div class="uk-width-1-1@m uk-first-column">
                                                <div class="uk-overflow-auto uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="" style="">
                                                    <table class="uk-table uk-table-striped uk-table-middle">
                                                        <thead>
                                                        <tr>
                                                            <th class="">Name</th>
                                                            <th class="">Date</th>
                                                            <th class="">Description</th>
                                                            <th class="">Public</th>
                                                            <th class="">Views</th>
                                                            <th class="">Downloads</th>
                                                            <th class="">Actions</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr *ngFor="let corpus of resources" class="el-item">
                                                            <td class=""><div class="el-title">{{corpus.corpusInfo.identificationInfo.resourceNames[0].value}}</div></td>
                                                            <td class=""><div class="el-title">{{corpus.metadataHeaderInfo.metadataCreationDate | date:'shortDate'}}</div></td>
                                                            <td class=""><div class="el-title">{{corpus.corpusInfo.identificationInfo.descriptions[0].value}}</div></td>
                                                            <td class="">
                                                                <div *ngIf="corpus.corpusInfo.identificationInfo.public" class="el-title">yes</div>
                                                                <div *ngIf="!corpus.corpusInfo.identificationInfo.public" class="el-title">no</div>
                                                            </td>
                                                            <td class=""><div class="el-title">--</div></td>
                                                            <td class=""><div class="el-title">--</div></td>
                                                            <td class="uk-text-nowrap">
                                                                <div class="el-title">
                                                                    <a [routerLink]="goToDetails(corpus)" title="View corpus" uk-tooltip>
                                                                        <i class="fa fa-info uk-margin-small-right" aria-hidden="true"></i>
                                                                    </a>
                                                                    <ng-container *ngIf="!corpus.corpusInfo.identificationInfo.public">
                                                                        <a [routerLink]="editResource(corpus)" title="Edit corpus" uk-tooltip>
                                                                            <i class="fa fa-pencil uk-margin-small-right" aria-hidden="true"></i>
                                                                        </a>
                                                                        <a (click)="deleteConfirmation(corpus)" title="Delete corpus" uk-tooltip>
                                                                            <i class="fa fa-trash uk-margin-small-right" aria-hidden="true"></i>
                                                                        </a>
                                                                        <a (click)="makePublicConfirmation(corpus)" class="" title="Share corpus" uk-tooltip>
                                                                            <i class="fa fa-share-alt uk-margin-small-right" aria-hidden="true"></i>
                                                                        </a>
                                                                    </ng-container>
                                                                    <a (click)="downloadResource(corpus,'json')" title="Download {{resourceType}} metadata as JSON" uk-tooltip>
                                                                        <i class="fa fa-file-code-o uk-margin-small-right" aria-hidden="true"></i>
                                                                    </a>
                                                                    <a (click)="downloadResource(corpus,'xml')" title="Download {{resourceType}} metadata as XML" uk-tooltip>
                                                                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div *ngIf="incompleteCorporaSearchResults && !errorMessage" class="uk-margin-medium-top">

                                <h4 class="uk-h4">Corpora under construction</h4>

                                <div *ngIf="successMessage" class="uk-alert uk-alert-success uk-margin-medium-top">
                                    {{successMessage}}
                                </div>

                                <div *ngIf="incompleteCorporaSearchResults.total==0" class="uk-alert uk-alert-warning uk-margin-medium-top">
                                    There are no incomplete corpora under construction for your account
                                </div>

                                <div *ngIf="incompleteCorporaSearchResults.total>0">
                                    <div class="uk-grid-margin">

                                        <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
                                            <div class="uk-width-1-1@m uk-first-column">
                                                <div class="uk-overflow-auto uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="" style="">
                                                    <table class="uk-table uk-table-striped uk-table-middle">
                                                        <thead>
                                                        <tr>
                                                            <th class="">Name</th>
                                                            <th class="">Date</th>
                                                            <th class="">Description</th>
                                                            <th class="">Status</th>
                                                            <th class="">Actions</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr *ngFor="let incompleteCorpus of incompleteCorpora; let i=index" class="el-item">
                                                            <td class=""><div class="el-title">{{incompleteCorpus.corpusInfo.identificationInfo.resourceNames[0].value}}</div></td>
                                                            <td class=""><div class="el-title">{{incompleteCorpus.metadataHeaderInfo.metadataCreationDate | date:'shortDate'}}</div></td>
                                                            <td class=""><div class="el-title">{{incompleteCorpus.corpusInfo.identificationInfo.descriptions[0].value}}</div></td>
                                                            <td class="">
                                                                <div *ngIf="corporaStatus[i] | async as status; else loading">
                                                                    {{status}}
                                                                </div>
                                                                <ng-template #loading>Loading Data...</ng-template>
                                                            </td>
                                                            <td class="uk-text-nowrap">
                                                                --
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>

                        </div>


                        <!-- RIGHT HELP CONTENT -->
                        <aside-help-content #rightHelperContent [position]="'right'"
                                            [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
                        </aside-help-content>

                    </div>
                </div>


                <!-- BOTTOM HELP CONTENT -->
                <help-content #bottomHelperContent [position]="'bottom'"
                              [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
                </help-content>


            </div>
        </div>
    </div>
</div>


<confirmation-dialog #deleteConfirmationModal [isModalShown]="isModalShown" [title]="'Delete Confirmation'"
                     [confirmActionButton]="'Yes, delete it'" (emmitObject)="confirmedDelete($event)">
    Are you sure you want to delete the selected corpus?
</confirmation-dialog>

<confirmation-dialog #makePublicConfirmationModal [title]="'Confirmation'" [isModalShown]="isModalShown"
                     [confirmActionButton]="'Yes, make it public'" (emmitObject)="confirmedMakePublic($event)">
    Are you sure you want to make public the selected corpus? Making it public will make it accessible to anyone using the
    OpenMinTeD platform and you will no longer be able to edit it or delete it.
</confirmation-dialog>