<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
    <div *ngIf="loading" class="whiteFilm"><i class="fa fa-spinner fa-spin fa-5x loader" aria-hidden="true"></i></div>
    <div class="uk-container">
        <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
            <div class="uk-width-1-1@m uk-first-column">

                <h1 class="uk-h2">Build a workflow</h1>
                <!--<hr class="uk-divider-small">-->

                <!-- TOP HELP CONTENT -->
                <help-content #topHelperContent [position]="'top'"
                              [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
                </help-content>

                <div class="uk-container uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">

                        <!-- LEFT HELP CONTENT -->
                        <aside-help-content #leftHelperContent [position]="'left'"
                                            [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
                        </aside-help-content>


                        <!-- MIDDLE -->
                        <div class=" uk-width-expand@m" *ngIf="galaxyId != '' && metadataFormPage==false">
                            <iframe [src]="workflowURL" style="width:100%; height:500px;"></iframe>

                            <a (click)="fillMetadata()" class="uk-button uk-button-default uk-margin-medium-top">Fill in the metadata</a>

                        </div>
                        <div class=" uk-width-expand@m" *ngIf="metadataFormPage==true">
                            <div *ngIf="errorMessage" class="alert alert-danger uk-margin-top">{{errorMessage}}</div>
                            <div *ngIf="successfulMessage" class="alert alert-danger uk-margin-top">{{successfulMessage}}</div>
                            <div *ngIf="!successfulMessage">
                                <component-registration-form #componentForm [group]="componentForm" (componentForm)="handleComponent($event)" (tocValid)="tocValid = $event"
                                                             class="uk-margin-top"></component-registration-form>

                                <div class="uk-grid">
                                    <div class="uk-width-1-5"></div>
                                    <div class="uk-width-4-5">
                                        <button (click)="onSubmit()" class="uk-button uk-button-large
                                                uk-button-blue registerButton">Register!</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- RIGHT HELP CONTENT -->
                        <aside-help-content #rightHelperContent [position]="'right'"
                                            [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
                        </aside-help-content>

                    </div>
                </div>


                <!-- BOTTOM HELP CONTENT -->
                <help-content #bottomHelperContent [position]="'bottom'"
                              [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
                </help-content>


            </div>
        </div>
    </div>
</div>
