.resourceLandingPage {
    line-height: 1.5;
    word-wrap: break-word;
}

.resourceLandingPage h2 {
    margin: 0px;
}

.uk-label, .label, a.label {
    padding: 2px 5px;
    font-size: 9px;
    color: #0055b9;
    white-space: normal;
    font-family: Montserrat;
    font-weight: 400;
    text-transform: none;
    border: 1px solid #0055b9;
    /*background-color: #0055b9;*/
    background: transparent;
}

.groupInfo, .personInfo {
    /*border-left: 2px solid #0055b9;*/
    border-left: 2px solid #0055b9;
    font-size: 90%;
    padding-left: 10px;
}

.resourceDescription {
    border-left: 8px solid #e5e5e5;
    padding-left: 15px;
}

/*.resourceDocumentationInfo {*/
    /*border-left: 8px solid #e5e5e5;*/
    /*padding-left: 15px;*/
/*}*/

.componentExecution .uk-card-body {
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 85%;
}

.uk-card-primary.uk-card-body a, .uk-card-primary.uk-card-body a:hover, .uk-card-primary.uk-card-body a:focus {
    color: rgba(255,255,255,0.7);
}

.componentExecution h4 {
    margin: 0 0 5px 0;
    font-size: 15px;
}

.resourceIdentifiers {
    margin-bottom: 10px;
    letter-spacing: 1.5px;
}

.shortName {
    font-size: 17px;
}

.resourceSideInfo {
    font-size: 12px;
}

.resourceGeneralInfo {
    font-size: 13px;
    margin-bottom: 20px;
}

.componentTypes {
    margin-left: -2px;
}

.uk-subnav > * > * {
    font-size: 11px;
}

.uk-grid + .uk-grid, .uk-grid-margin, .uk-grid > * > .uk-panel + .uk-panel {
    margin-top: 20px;
}

* + .uk-margin {
    margin-top: 25px;
}

.resourceIdentifiers {
    margin-bottom: 10px;
}

.uk-subnav-line > * {
    padding-left: 0;
}

.uk-thumbnail {
    background: none;
    border: none;
    padding: 0px;
}

.infoTabs {
    font-size: 13px;
}

.infoTab {
    margin-top: 20px;
    font-size: 13px;
    margin-left: 20px;
    margin-right: 20px;
}

.infoTab ul.uk-list {
}

.uk-badge {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

* + .uk-article-divider {
    margin-top: 10px;
}

.uk-article-divider {
    border-color: #eeeeee;
    margin-bottom: 10px;
}

.lingualityInfo {
    margin-left: 20px;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
    margin-top: 0;
}

.languageDescriptionType {
    margin-left: -2px;
}

.lexicalConceptualResourceType {
    margin-left: -2px;
}