<div id="tm-main" class="tm-main uk-section uk-section-default" uk-height-viewport="expand: true" style="box-sizing: border-box;">
    <div class="uk-container resourceLandingPage">
        <div class="uk-grid" uk-grid="">

            <ng-template [ngIf]="errorMessage">
                <div class="uk-width-expand@m uk-first-column">
                    <div data-uk-alert="" class="uk-alert uk-alert-danger">
                        <p>{{errorMessage}}</p>
                    </div>
                </div>
            </ng-template>

            <ng-template [ngIf]="lexicalConceptual && !errorMessage">

                <div class="uk-width-1-1 uk-row-first uk-clearfix">
                    <h2 class="uk-h2 uk-inline" *ngIf="lexicalConceptual.lexicalConceptualResourceInfo.identificationInfo.resourceNames
                            && lexicalConceptual.lexicalConceptualResourceInfo.identificationInfo.resourceNames.length>0">
                        {{lexicalConceptual.lexicalConceptualResourceInfo.identificationInfo.resourceNames[0].value}}
                        <span *ngIf="lexicalConceptual.lexicalConceptualResourceInfo.identificationInfo.resourceShortName"
                              class="element element-text uk-margin-small-left shortName">
                            | {{lexicalConceptual.lexicalConceptualResourceInfo.identificationInfo.resourceShortName}}
                        </span>
                    </h2>

                    <!--<div class="uk-float-right uk-inline">-->

                        <!--<button class="uk-button uk-button-primary" (click)="process()">-->
                            <!--Process <i class="fa fa-cogs" aria-hidden="true"></i>-->
                        <!--</button>-->

                        <!--<a class="uk-button uk-button-primary" [routerLink]="['/lexicalConceptualBrowser',lexicalConceptual.metadataHeaderInfo.metadataRecordIdentifier.value]">-->
                            <!--Browse <i class="fa fa-cogs" aria-hidden="true"></i>-->
                        <!--</a>-->

                        <!--<ng-template [ngIf]="lexicalConceptual?.lexicalConceptualResourceInfo?.datasetDistributionInfo && ((isPublic || isOwn) && checkOriginallexicalConceptual)">-->
                            <!--<ng-container [ngSwitch]="isGenerated">-->
                                <!--<span *ngSwitchCase="true" title="Download of generated corpora from our content providers is currently disabled while we are investigating the legal and copyright issues. Stay tuned!" uk-tooltip="">-->
                                    <!--<download [url]="lexicalConceptual.lexicalConceptualResourceInfo.datasetDistributionInfo.distributionLocation" [disabled]="isGenerated"></download>-->
                                <!--</span>-->
                                <!--<span *ngSwitchCase="false">-->
                                    <!--<download [url]="lexicalConceptual.lexicalConceptualResourceInfo.datasetDistributionInfo.distributionLocation" [disabled]="isGenerated"></download>-->
                                <!--</span>-->
                            <!--</ng-container>-->
                        <!--</ng-template>-->
                        <!---->
                    <!--</div>-->

                </div>

                <div class="uk-width-expand@m uk-first-column">

                    <div *ngIf="lexicalConceptual.lexicalConceptualResourceInfo.lexicalConceptualResourceType" class="uk-margin-bottom">
                        {{lexicalConceptualResourceType(lexicalConceptual.lexicalConceptualResourceInfo.lexicalConceptualResourceType)}}
                    </div>

                    <div *ngIf="lexicalConceptual.lexicalConceptualResourceInfo.resourceCreationInfo" class="uk-margin-bottom">
                        <resource-creation-info-short [resourceCreationInfo]="lexicalConceptual.lexicalConceptualResourceInfo.resourceCreationInfo"></resource-creation-info-short>
                    </div>

                    <div *ngIf="lexicalConceptual.lexicalConceptualResourceInfo.rightsInfo" class="uk-margin-bottom">
                        <rights-info [rightsInfo]="lexicalConceptual.lexicalConceptualResourceInfo.rightsInfo"></rights-info>
                    </div>

                    <version-info *ngIf="lexicalConceptual.lexicalConceptualResourceInfo.versionInfo"
                                  [versionInfo]="lexicalConceptual.lexicalConceptualResourceInfo.versionInfo">
                    </version-info>

                    <ul class="uk-list" *ngIf="lexicalConceptual.lexicalConceptualResourceInfo.identificationInfo.descriptions
                                                && lexicalConceptual.lexicalConceptualResourceInfo.identificationInfo.descriptions.length>0">
                        <li *ngFor="let description of lexicalConceptual.lexicalConceptualResourceInfo.identificationInfo.descriptions; let isFirst = first;"
                            [class.uk-margin-top]="!isFirst" class="uk-text-justify resourceDescription">
                            {{description.value}}
                        </li>
                    </ul>

                    <!--MultilingualityType and languages-->
                    <div *ngIf="lexicalConceptual.lexicalConceptualResourceInfo?.lexicalConceptualResourceTextInfo?.lingualityInfo
                    || lexicalConceptual.lexicalConceptualResourceInfo?.lexicalConceptualResourceTextInfo?.languages?.length>0">
                        <multilinguality-type-and-languages [languages]="lexicalConceptual.lexicalConceptualResourceInfo.lexicalConceptualResourceTextInfo.languages"
                                                            [lingualityInfo]="lexicalConceptual.lexicalConceptualResourceInfo.lexicalConceptualResourceTextInfo.lingualityInfo">
                        </multilinguality-type-and-languages>
                    </div>

                    <!--Metalanguages-->
                    <div *ngIf="lexicalConceptual.lexicalConceptualResourceInfo?.lexicalConceptualResourceTextInfo?.metalanguages?.length>0">
                        <metalanguages-info [metalanguages]="lexicalConceptual.lexicalConceptualResourceInfo.lexicalConceptualResourceTextInfo.metalanguages"></metalanguages-info>
                    </div>

                    <!--&lt;!&ndash;Formats and character encodings&ndash;&gt;-->
                    <!--<div *ngIf="(lexicalConceptual?.lexicalConceptualResourceInfo?.datasetDistributionInfo?.textFormats-->
                    <!--&& lexicalConceptual?.lexicalConceptualResourceInfo?.datasetDistributionInfo?.textFormats.length>0)-->
                    <!--|| (lexicalConceptual?.lexicalConceptualResourceInfo?.datasetDistributionInfo?.characterEncodings-->
                    <!--&& lexicalConceptual?.lexicalConceptualResourceInfo?.datasetDistributionInfo?.characterEncodings.length>0)">-->
                        <!--<text-formats-and-character-encodings [textFormats]="lexicalConceptual.lexicalConceptualResourceInfo.datasetDistributionInfo.textFormats"-->
                                                              <!--[characterEncodings]="lexicalConceptual.lexicalConceptualResourceInfo.datasetDistributionInfo.characterEncodings">-->
                        <!--</text-formats-and-character-encodings>-->
                    <!--</div>-->


                    <div *ngIf="lexicalConceptual.lexicalConceptualResourceInfo?.distributionInfos?.length>0" class="uk-margin-top">
                        <div *ngFor="let distributionInfo of lexicalConceptual.lexicalConceptualResourceInfo.distributionInfos" class="uk-margin-small-bottom">
                            <div *ngIf="distributionInfo.sizes?.length>0">
                                Annotation resource size:
                                <ng-container *ngFor="let sizeInfo of distributionInfo.sizes; let isLast = last;">
                                    <span>{{sizeInfo.size}} {{sizeInfo.sizeUnit}}</span>
                                    {{isLast ? '' : ', '}}
                                </ng-container>
                            </div>
                            <div *ngIf="distributionInfo.textFormats?.length>0">
                                Text formats:
                                <ng-container *ngFor="let textFormatInfo of distributionInfo.textFormats">
                                    <ng-container *ngIf="textFormatInfo.dataFormatInfo?.dataFormat">
                                        <span class="uk-label uk-label-primary" style="margin-bottom: 5px">
                                            {{dataFormatType(textFormatInfo.dataFormatInfo.dataFormat)}}
                                        </span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>


                    <div *ngIf="lexicalConceptual.lexicalConceptualResourceInfo.resourceDocumentations
                        && lexicalConceptual.lexicalConceptualResourceInfo.resourceDocumentations.length>0" class="uk-margin-top">
                        <h4>Documentation</h4>
                        <ul class="uk-list">
                            <li *ngFor="let resourceDocumentationInfo of lexicalConceptual.lexicalConceptualResourceInfo.resourceDocumentations" class="uk-margin-top">
                                <resource-documentation-info [resourceDocumentationInfo]="resourceDocumentationInfo"></resource-documentation-info>
                            </li>
                        </ul>
                    </div>

                    <div class="resourceIdentifiers" *ngIf="lexicalConceptual.lexicalConceptualResourceInfo.identificationInfo.resourceIdentifiers
                        && lexicalConceptual.lexicalConceptualResourceInfo.identificationInfo.resourceIdentifiers.length>0">
                        <dl class="uk-description-list">
                            <dt>Identifiers</dt>
                            <dd *ngFor="let identifier of lexicalConceptual.lexicalConceptualResourceInfo.identificationInfo.resourceIdentifiers">
                                <span *ngIf="identifier.resourceIdentifierSchemeName=='URL' || identifier.resourceIdentifierSchemeName=='PURL'
                                || identifier.resourceIdentifierSchemeName=='HANDLE'">
                                    {{identifier.resourceIdentifierSchemeName}}: <a href="{{identifier.value}}" target="_blank">{{identifier.value}}</a>
                                </span>
                                <span *ngIf="identifier.resourceIdentifierSchemeName!='URL' && identifier.resourceIdentifierSchemeName!='PURL'
                                && identifier.resourceIdentifierSchemeName!='HANDLE'">
                                    {{identifier.resourceIdentifierSchemeName}}: {{identifier.value}}
                                </span>
                            </dd>
                        </dl>
                    </div>

                </div>

                <!--SIDEBAR-->
                <div class="tm-sidebar uk-width-1-4@m">

                    <div class="uk-card uk-card-body uk-card-default sidemenu"
                         *ngIf="lexicalConceptual.lexicalConceptualResourceInfo?.lexicalConceptualResourceTextInfo?.domains?.length>0
                         || lexicalConceptual.lexicalConceptualResourceInfo?.lexicalConceptualResourceTextInfo?.keywords?.length>0">

                        <!--DOMAINS-->
                        <div *ngIf="lexicalConceptual.lexicalConceptualResourceInfo?.lexicalConceptualResourceTextInfo?.domains?.length>0" class="uk-margin-bottom">
                            <h4>Domains</h4>
                            <domains-info [domains]="lexicalConceptual.lexicalConceptualResourceInfo.lexicalConceptualResourceTextInfo.domains"></domains-info>
                        </div>

                        <!--KEYWORDS-->
                        <div *ngIf="lexicalConceptual.lexicalConceptualResourceInfo?.lexicalConceptualResourceTextInfo?.keywords?.length>0" class="uk-margin-bottom">
                            <h4>Keywords</h4>
                            <keywords-info [textClassifications]="lexicalConceptual.lexicalConceptualResourceInfo.lexicalConceptualResourceTextInfo.keywords"></keywords-info>
                        </div>
                    </div>

                    <div *ngIf="lexicalConceptual.lexicalConceptualResourceInfo.relations && lexicalConceptual.lexicalConceptualResourceInfo.relations.length>0"
                         class="uk-card uk-card-body uk-card-default sidemenu uk-margin-top">
                        <h4>Relations</h4>
                        <ul class="uk-list">
                            <li *ngFor="let relationInfo of lexicalConceptual.lexicalConceptualResourceInfo.relations">
                                <relation-info [relationInfo]="relationInfo"></relation-info>
                            </li>
                        </ul>
                    </div>

                    <div *ngIf="lexicalConceptual.lexicalConceptualResourceInfo.contactInfo" class="uk-card uk-card-body uk-card-default sidemenu uk-margin-top">
                        <contact-info [contactInfo]="lexicalConceptual.lexicalConceptualResourceInfo.contactInfo"></contact-info>
                    </div>


                </div>

            </ng-template>

        </div>
    </div>
</div>
