<div my-resource-wrapper="My Models and Grammars">
    <div *ngIf="errorMessage" class="uk-alert uk-alert-danger uk-margin-medium-top">{{errorMessage}}</div>

    <div *ngIf="searchResults && !errorMessage">

        <div *ngIf="successMessage" class="uk-alert uk-alert-success uk-margin-medium-top">
            {{successMessage}}
        </div>

        <div *ngIf="searchResults.total==0" class="uk-alert uk-alert-warning uk-margin-medium-top">
            There are no models or grammars registered under your account
        </div>

        <div *ngIf="searchResults.total>0">

            <div class="uk-width-1-1 uk-row-first" paginate
                 [from]="searchResults.from" [total]="searchResults.total">
            </div>

            <div class="uk-grid-margin">

                <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
                    <div class="uk-width-1-1@m uk-first-column">
                        <div class="uk-overflow-auto uk-scrollspy-inview uk-animation-slide-top-medium" uk-scrollspy-class="" style="">
                            <table class="uk-table uk-table-striped uk-table-middle">
                                <thead>
                                <tr>
                                    <th class="">Name</th>
                                    <th class="">Date</th>
                                    <th class="">Description</th>
                                    <th class="">Public</th>
                                    <th class="">Views</th>
                                    <th class="">Downloads</th>
                                    <th class="">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let component of resources" class="el-item">
                                    <td class=""><div class="el-title">{{component.languageDescriptionInfo.identificationInfo.resourceNames[0].value}}</div></td>
                                    <td class=""><div class="el-title">{{component.metadataHeaderInfo.metadataCreationDate | date:'shortDate'}}</div></td>
                                    <td class=""><div class="el-title">{{component.languageDescriptionInfo.identificationInfo.descriptions[0].value}}</div></td>
                                    <td class="">
                                        <div *ngIf="component.languageDescriptionInfo.identificationInfo.public" class="el-title">yes</div>
                                        <div *ngIf="!component.languageDescriptionInfo.identificationInfo.public" class="el-title">no</div>
                                    </td>
                                    <td class=""><div class="el-title">--</div></td>
                                    <td class=""><div class="el-title">--</div></td>
                                    <td class="uk-text-nowrap">
                                        <div class="el-title">
                                            <a [routerLink]="goToDetails(component)" title="View {{resourceType}}" uk-tooltip>
                                                <i class="fa fa-info uk-margin-small-right" aria-hidden="true"></i>
                                            </a>
                                            <ng-container *ngIf="!component.languageDescriptionInfo.identificationInfo.public">
                                                <a [routerLink]="editResource(component)" title="Edit {{resourceType}} metadata" uk-tooltip>
                                                    <i class="fa fa-pencil uk-margin-small-right" aria-hidden="true"></i>
                                                </a>
                                                <a (click)="deleteConfirmation(component)" title="Delete {{resourceType}}" uk-tooltip>
                                                    <i class="fa fa-trash uk-margin-small-right" aria-hidden="true"></i>
                                                </a>
                                                <a (click)="makePublicConfirmation(component)" title="Share {{resourceType}}" uk-tooltip>
                                                    <i class="fa fa-share-alt uk-margin-small-right" aria-hidden="true"></i>
                                                </a>
                                            </ng-container>
                                            <a (click)="downloadResource(component,'json')" title="Download {{resourceType}} metadata as JSON" uk-tooltip>
                                                <i class="fa fa-file-code-o uk-margin-small-right" aria-hidden="true"></i>
                                            </a>
                                            <a (click)="downloadResource(component,'xml')" title="Download {{resourceType}} metadata as XML" uk-tooltip>
                                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="uk-width-1-1 uk-row-first uk-margin-large-bottom uk-margin-top"
                 paginate [from]="searchResults.from" [total]="searchResults.total">
            </div>

        </div>

    </div>
</div>

<confirmation-dialog #deleteConfirmationModal [isModalShown]="isModalShown" [title]="'Delete Confirmation'"
                     [confirmActionButton]="'Yes, delete it'" (emmitObject)="confirmedDelete($event)">
    Are you sure you want to delete the selected {{resourceType}}?
</confirmation-dialog>

<confirmation-dialog #makePublicConfirmationModal [title]="'Confirmation'" [isModalShown]="isModalShown"
                     [confirmActionButton]="'Yes, make it public'" (emmitObject)="confirmedMakePublic($event)">
    Are you sure you want to make public the selected {{resourceType}}? Making it public will make it accessible to anyone using the
    OpenMinTeD platform and you will no longer be able to edit it or delete it.
</confirmation-dialog>
