<template #customItemTemplate let-model="item">
    <h5>{{model.value}} - {{ model.key }}</h5>
</template>

<div [formGroup]="group">
    <!--<form-inline [description]="languageIdDesc">-->
        <!--<div class="uk-form-controls" uk-grid>-->
    <div formGroupName="language">
        <input type="hidden" class="form-control" formControlName="languageTag" placeholder="Language Tag">
        <!--<div class="uk-grid-1-4" [ngClass]="{'has-error':!group.controls.languageTag.valid}">-->
            <input type="text" class="uk-input uk-width-5-5" placeholder="Language id" formControlName="languageId"

                   [typeahead]="languageIdEnum"
                   [typeaheadItemTemplate]="customItemTemplate"
                   (typeaheadOnSelect)="setLanguageId($event)"
                   [typeaheadOptionField]="'value'">
    </div>
        <!--</div>-->
        <!--<div class="uk-grid-1-4">-->
            <!--<select name="role" class="uk-select uk-width-1-5" formControlName="scriptId">-->
                <!--<option *ngFor="let value of scriptIdEnum" [value]="value.key" [selected]="value.key == ''">-->
                    <!--{{value.value}}-->
                <!--</option>-->
            <!--</select>-->
        <!--</div>-->
        <!--<div class="uk-grid-1-4">-->
            <!--<select name="role" class="uk-select uk-width-1-5" formControlName="regiontId">-->
                <!--<option *ngFor="let value of regionIdEnum" [value]="value.key" [selected]="value.key == ''">-->
                    <!--{{value.value}}-->
                <!--</option>-->
            <!--</select>-->
        <!--</div>-->
        <!--<div class="uk-grid-1-4">-->
            <!--<select name="role" class="uk-select uk-width-1-5" formControlName="variantId">-->
                <!--<option *ngFor="let value of variantIdEnum" [value]="value.key" [selected]="value.key == ''">-->
                    <!--{{value.value}}-->
                <!--</option>-->
            <!--</select>-->
        <!--</div>-->
        <!--</div>-->
    <!--</form-inline>-->
</div>